body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right top,rgb(83, 10, 218),rgb(0, 204, 255),dodgerblue);
}
.main-container{
    margin: 10px;
  width: 400px;
  border-radius: 14px;
  background: white;
  box-shadow: 10px 10px 10px grey;
}

.result-container{
    background: black;
    color: white;
    margin: 0%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    overflow-x: auto;
    border-radius:10px 10px 0px 0px ;
}
#result{
    width: 100%;
    padding: 10px;
    font-size:40px;
    text-align: end;
    font-weight: 300;
    background-color: black;
    color:#fff;
}
.container-button{
    background-color:rgb(133, 131, 131);
    width: 400px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 10px;
    row-gap: 10px;
    border-radius: none;
}
.button{
    min-height: 50px;
    margin-left: 10px;
    color:blueviolet;
    border-radius: 10px;
    background-color: wheat;
    min-width:100;
    min-height: 50px;
    border-color: white;
    font-size: 25px;
    text-align: center;
    font-style: italic;
    border:none;
}
.button:hover{
    background-color: blanchedalmond;
}
.exit,.zero,.dot,.rst{
    margin-bottom: 10px;
}
.exit{background-color: red;}
.rst{background-color: rgb(16, 255, 16);}
.c,.clr,.percent,.div{
    margin-top: 10px;
}